<p>
  <input type="text" readonly=true [ngModel]="resultado | number : '1.2-2'" /> <br>
  <button (click)="add('1')">1</button>
  <button (click)="add('2')">2</button>
  <button (click)="add('3')">3</button>
  <button (click)="dividir()">/</button><br>
  <button (click)="add('4')">4</button>
  <button (click)="add('5')">5</button>
  <button (click)="add('6')">6</button>
  <button (click)="multiplicar()">*</button><br>
  <button (click)="add('7')">7</button>
  <button (click)="add('8')">8</button>
  <button (click)="add('9')">9</button>
  <button (click)="restar()">-</button><br>
  <button (click)="add('0')">0</button>
  <button (click)="add('.')">.</button>
  <button (click)="calcular()">=</button>
  <button (click)="sumar()">+</button>

</p>
